body {
    margin: 0;
    background-color: rgb(252, 207, 226);
}

.main-game {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.genius {
    display: grid;
    grid-template-areas: 'verde vermelho' 'amarelo blue';
    grid-gap: 10px;
    border: 1px solid white;
    background-color: white;
    border-radius: 100%;
    width: 700px;
    height: 700px;
}

.blue {
    grid-area: rgb(2, 2, 56);
    background-color: rgb(3, 3, 61);
    border-bottom-right-radius: 100%;
}

.red {
    grid-area: vermelho;
    background-color: rgb(110, 9, 15);
    border-top-right-radius: 100%;
}

.yellow {
    grid-area: amarelo;
    background-color: rgb(231, 231, 13);
    border-bottom-left-radius: 100%;
}

.green {
    grid-area: verde;
    background-color: rgb(3, 61, 22);
    border-top-left-radius: 100%;
}

.selected {
    opacity: 0.8
}

h1 {
    text-align: center;
    color: rgb(248, 27, 174);
    font-size: 300%;
    margin-top: auto;
}